beartype==0.19.0
colorama==0.4.6
colorspacious==1.1.2
dacite==1.8.1
# diff_gaussian_rasterization.egg==info
e3nn==0.5.1
einops==0.8.0
hydra-core==1.3.2
jaxtyping==0.2.34
lpips==0.1.4
matplotlib==3.9.2
moviepy==1.0.3
numpy==1.26.4
omegaconf==2.3.0
open3d==0.18.0
opencv_python==4.6.0.66
pillow==11.0.0
plyfile==1.1
# pytorch3d.egg==info
pytorch_lightning==2.4.0
PyYAML==6.0.2
scikit-image==0.24.0
scikit_learn==1.5.2
scipy==1.14.1
sk_video==1.1.10
tabulate==0.9.0
torch==2.1.2
torchvision==0.16.2
tqdm==4.66.5
wandb==0.17.0